.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
}
#box1{
    background-color: aqua; 
    position: relative;
    z-index: 1;
}
#box2{
    background-color: yellow;
    position: relative;
   bottom: 50px;
   /* z-index: 1; */

}
#box3{
    background-color: red;
}
#box4{
    background-color: violet;
}