.box {
  width: 100px;
  height: 100px;
  background-color: #61dafb;
}
.para{
  padding: 50px;
  text-align: center;
  font-size: 20px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: left; /* crucial for scaleX animation */
  height: 10px;
  background-color: #c51a20;
  z-index: 9999;
}
